* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: contents;
  height: 100vh;
  width: 100%;
}

.background {
  text-align: center;
  color: #000000;
  margin: 0;
  min-height: 81vh;
}

.boxhome {
  justify-content: center;
  align-items: center;
}

.chatchat {
  margin-top: 5px;
  width: 95%; 
  height: 79vh; 
  border: none; 
  border-radius: 12px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: transparent; /* Make iframe background transparent (if supported) */
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  z-index: 9999; /* Ensure it's above other elements */
}

.dashboard {
  margin-top: 5px;
  width: 58%; 
  height: 77vh; 
  border: none; 
  border-radius: 12px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: transparent; /* Make iframe background transparent (if supported) */
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  z-index: 9999; /* Ensure it's above other elements */
}

.searchCard {
  background: #d9e9fc;
  border-radius: 15px;
  margin-top: 5%;
  margin-left: 12%;
  padding: 1%;
  width: 70vw;
}

.searchbox {
  width: 150px;
  margin-top: 5px;
  border-radius: 10px;
  border-color: #9a9ab5;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}

.submitBtn{
  width: 80px;
  border-color: #77709a;
  border-style: solid;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 20px;
  background-color: rgb(151, 158, 230);
  color: #170e47;
}

.topofthetop{
  z-index: 1;
}

.resources {
  margin-left: 20%;
  margin-right: 20%
}

@media (max-width: 480px) {

  .searchCard {
    background: #d9e9fc;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 6.5%;
    padding: 1%;
    width: 70vw;
  }

}